@charset "UTF-8";

body,html{
  height: 100%;
  margin:0;
  letter-spacing: 2px;
  font-size: 10px;
}
/* 固定背景 */
div.parallax{
  box-sizing: border-box;;
  color:#fff;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
  font-family: 'Geostar', cursive;
}
.parallax-bg{
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height:100%;
}

/* 各背景の画像 */
.img-bg-1{
  background-image: url(https://cdn.pixabay.com/photo/2017/11/04/08/14/tree-2916763_960_720.jpg);
}
.img-bg-2{
  background-image: url(https://cdn.pixabay.com/photo/2016/06/07/16/12/sky-1441936_960_720.jpg);
}
.img-bg-3{
  background-image: url(https://cdn.pixabay.com/photo/2018/08/12/15/29/hintersee-3601004_960_720.jpg);
}
.img-bg-4{
  background-image: url(https://cdn.pixabay.com/photo/2018/07/12/11/45/sunrise-3533173_960_720.jpg);
}
.img-bg-5{
  background-image: url(https://cdn.pixabay.com/photo/2015/11/16/21/46/sunset-1046475_960_720.jpg);
}
.img-bg-6{
  background-image: url(https://cdn.pixabay.com/photo/2015/09/05/04/27/milky-way-923738_960_720.jpg);
}
.img-bg-7{
  background-image: url(https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg);
}
.scrollbox1{
  background-color:#3cb371;
  width: 50%;
  float: right;
}
.scrollbox2{
  background-color:#000080;
}
.scrollbox3{
  background-color:#8fbc8f;
}
.scrollbox4{
  background-color:#ffd700;
  width: 50%;
  float: left;
}
.scrollbox5{
  background-color:#ffa500;
}
.scrollbox6{
  background-color:#4169e1;
  width: 50%;
  float:left;
}
.scrollbox7{
  background-color:#000000;
}
.move{
  opacity : 0;
  transform: translateY(20px);
  transition: all 0.5s;
}
.work_flex{
  padding:0;
  justify-content:flex-start;
  display: flex;
  margin:0 auto;
  max-width:100%;
  width: 935px;
  flex-wrap: wrap;
}
.work_flex a{
  display: block;
  height:293px;
  width: 293px;
  overflow:hidden;
  position: relative;
}
.work_flex a:nth-child(3n+2){
  margin:0 20px 20px 20px;
}
.work_flex img{
  height:293px;
  max-width: 100%;
  transition:0.3s all;
  filter: blur(2px);
  box-shadow: 0 0 15px #666;
}
.work_flex img:hover{
  transform: scale(1.2);
  filter: blur(0px);
}
.work_flex a:before{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  content:"work";
  font-size: 30px;
  color:#fff;
  text-shadow: 0 0 15px;
  z-index: 1;
}
.work_flex a:hover:before{
  content:"";
}
